<h2>Show phrase</h2>

<ul>

  <li>
    <strong>Message:</strong>
    <%= @phrase.message %>
  </li>

  <li>
    <strong>Has token:</strong>
    <%= @phrase.has_token %>
  </li>

</ul>

<%= link "Edit", to: phrase_path(@conn, :edit, @phrase) %>
<%= link "Back", to: phrase_path(@conn, :index) %>
