<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CoverMyTabletop</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav role="navigation" class="navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <%= link "", to: page_path(@conn, :index), class: "logo navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav nav-pills navbar-right">
            <li role="presentation"><%= link "Home", to: page_path(@conn, :index)%></li>
            <li role="presentation"><%= link "Phrases", to: phrase_path(@conn, :index)%></li>
            <li role="presentation"><%= link "Games", to: game_path(@conn, :index)%></li>
            <li class="dropdown" role="presentation">
            <a href="#" class="dropdown-toggle" data-html="true" data-toggle="dropdown"> <%= sanitize(current_user_name(@conn)) %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <%= if logged_in?(@conn) do %>
                  <li><%= link "Edit", to: user_path(@conn, :edit, current_user(@conn))%></li>
                  <li><%= link "Log Out", to: session_path(@conn, :delete), method: "delete" %></li>
                <% else %>
                  <li><%= link "Log In", to: session_path(@conn, :new) %></li>
                  <li><%= link "Register", to: registration_path(@conn, :new) %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container paneled">

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div> <!-- /container -->
  </body>
</html>
