<h2>Show game</h2>

<%= img_tag @game.image %>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @game.name %>
  </li>

  <li>
    <strong>Min players:</strong>
    <%= @game.min_players %>
  </li>

  <li>
    <strong>Max players:</strong>
    <%= @game.max_players %>
  </li>


</ul>

<%= link "Back", to: game_path(@conn, :index) %>
