/* This file is for your main application css. */
.dropdown-menu>li>form>a {
  display: block;
  padding: 3px 20px;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu>li>form>a:focus, .dropdown-menu>li>form>a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.table>tbody>tr>td.game-align-center {
  vertical-align: middle;
}

.game-thumb {
  width: 50px;
  max-height: 80px;
}

/* Minor selec2 hacks to make rendering match other fields */
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0px;
}

span.select2-selection.select2-selection--single {
  height: 34px;
}

html {
  height: 100%;
}

body {
  margin-top: 0;
  min-height: 100%;
  background-image: url("/images/grey.png");
}

/* for high resolution display */

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
body {
  background-image: url("/images/grey_@2X.png");
}

body > div.container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 3rem 4rem !important;
  overflow-y: hidden;
  min-height: 100%;
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  border: 1px solid #e8e8e8;
}

nav.navbar-default {
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
}

nav div.navbar-collapse ul.navbar-right {
  margin-top: 45px;
}

.logo {
  background-image: url("/images/logo.png");
  background-size: 401px 100px;
  margin-top: 1em;
  width: 401px;
  height: 100px;
}

@media (min-width: 768px) {
  nav .container {
    max-width: 1170px;
  }
}


