<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "NermeSterts!" %></h2>
  <%= form_for @conn, "", [as: "player_info"], fn f-> %>
    <%= label f, :number_of_players %>
    <%= text_input f, :number_of_players %>
    <%= submit "Submit" %>
  <%= end  %>
  <%= name_of_the(@game) %>
</div>
<div>
  <%= render Nermesterts.PlayerView, "index.html", players: @players, conn: @conn %>
</div>
