<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "NermeSterts!" %></h2>
  <form method="post" >
      <label for="number_of_players">Number of Players</label>
      <input id="number_of_players" type="text"></input>
      <button type="submit">Submit</button>
  </form>
</div>
