<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "CoverMyTabletop!" %></h2>
  <%# TODO: I'd like to find a better way to do this. I'd like to escape the game name, then wrap it in h3 %>
  <%= raw(selected_game_phrase(@phrase, @game)) %>
</div>
<div>
  <%= render Nermesterts.UserView, "index.html", active_players: @active_players, inactive_players: @inactive_players, conn: @conn %>
</div>
